language: node_js
node_js:
  - '7'
  - '6'
  - '4'
before_install:
  - npm set progress=false
  - npm config ls
script: sh test/_cli.sh
after_success:
    - './node_modules/.bin/nyc report --reporter=text-lcov | ./node_modules/.bin/coveralls'
cache:
  directories:
  - node_modules